.aether-breadcrumbs {
  li {
    a,
    a:visited {
      color: $plasma-blue;
      &:first-child {
        padding-left: 5px;
      }
    }
  }
}

li.aether-breadcrumbs-aside {
  margin-left: auto;

  > a {
    font-size: 14px;
  }
}

ul {
  &.aether-breadcrumbs {
    height: 48px;

    li {
      height: 100%;
      display: flex;
      align-items: center;

      span {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

.aether-breadcrumbs li.current {
  padding-left: 15px;
  padding-right: 15px;
  background-color: $bb-blue;
  color: $cardboard-white;
  box-sizing: border-box;
}

div.document,
ul.aether-breadcrumbs,
.rst-footer-buttons,
.footer-content {
  margin: 0 auto;
  max-width: 800px;
}

ul.aether-breadcrumbs > li,
ul.aether-breadcrumbs a {
  font-size: 15pt;
}
