.btn,
input.searchbtn[type="submit"] {
  color: $shade-black;
  background-color: $paper-white;
  background-image: linear-gradient(to bottom, $papel-white-base, $papel-white);
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(35, 38, 39, 0.1);
  border-color: $dull-white;
  border-radius: $border-radius;
  border-width: 1px;
  padding: 8px;
  transition: all 0.1s linear;
  outline: 0;
  border-style: solid;

  &:hover {
    border-color: $light-blue;
    background-color: $paper-white;
    outline: 0;
  }

  &:active {
    background-image: linear-gradient(to bottom, $pale-blue-base, $pale-blue);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(35, 38, 39, 0.1);
    padding: 8px;
    transform: translate(1px, 1px);
    outline: 0;
  }

  &:focus:not(:active) {
    color: $cardboard-white !important;
    border-color: $plasma-blue;
    background-image: linear-gradient(to bottom, $blue-moon-base, $blue-moon);
    outline: 0;
  }
}