/* Colors */
$plasma-blue: #3dade9;
$bb-blue: #54a3d8;
$light-blue: #93cee9;
$pale-blue: #76c1e3;
$pale-blue-base: #9cd2eb;
$blue-moon: #25a4e6;
$blue-moon-base: #45b1ea;
$papel-white: #e8e9ea;
$papel-white-base: #f2f2f3;
$icon-red: #da4453;
$verdant-charm: #3dd425;
$beware-orange: #f67400;
$alternate-orange: #f47750;
$cardboard-white: #fcfcfc;
$paper-white: #eff0f1;
$shade-black: #232629;
$dull-white: #bdc3c7;
$duller-white: #bcbebf;
$grey: #7f8c8d;
$borders: rgba(0, 0, 0, 0.2);

$border-radius: 4px;

:root {
    --foreground: #232629;
    --background: #eff0f1;
    --background-alt: #ffffff;

    --highlight: rgba(246, 116, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
:root {
    --foreground: #eff0f1;
    --background: #232629;
    --background-alt: #121212;
}
}


:root {
    --chrome: #ffffff;
    --on-chrome: #000000;

    --view: #ffffff;
    --on-view: #000000;
    --on-view-faint: rgba(0, 0, 0, 0.7);

    --card-bg: #ffffff;
    --on-card: #000000;

    --listitem-active: rgba(18, 18, 18, 0.1);

    --rim: rgba(0,0,0,0.1);
}

@media (prefers-color-scheme: dark) {
:root {
    --chrome: #2e3134;
    --on-chrome: #ffffff;

    --view: #000000;
    --on-view: #ffffff;
    --on-view-faint: rgba(255, 255, 255, 0.7);

    --card-bg: #121212;
    --on-card: #ffffff;

    --listitem-active: rgba(18, 18, 18, 0.2);

    --rim: rgba(255,255,255,0.1);
}
}
