$button-el: 1;
$scrim-el: 2;
$content-el: 3;

@mixin medium-float {
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}

.nlp-paned__left {
    background-color: var(--chrome);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    padding: 32px 16px 16px;
}
.nlp-paned__right {
    background-color: var(--view);
}

.nlp-scrim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    opacity: 0;
    pointer-events: none;

    transition: opacity 150ms cubic-bezier(0.8, 0, 0.2, 1);

    z-index: $scrim-el;

    &--open {
        opacity: 1;
        pointer-events: all;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}

.nlp-scrim__padder {
    min-height: 100vh;
}

.nlp-drawer-button {
    position: fixed;
    bottom: 16px;
    left: calc(50% - 24px);
    right: calc(50% - 24px);
    height: 48px;
    width: 48px;

    border-radius: 4px;
    background-color: var(--card-bg);
    border: 1px solid var(--rim);
    color: var(--on-card);

    display: grid;
    place-items: center;

    z-index: $button-el;

    &:active {
        filter: brightness(90%);
    }

    @include medium-float;
}

.nlp-paned {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

@media screen and (min-width: 800px) {
    .nlp-drawer-button, .nlp-scrim {
        display: none;
    }
    .nlp-content {
        max-width: 40vw;
    }
    .nlp-paned__left {
        flex: 0 1 300px;
        min-height: 100%;
        box-shadow: 4px 0px 16px 0 rgba(0, 0, 0, 0.13);
        z-index: 1;
    }
    .nlp-paned__right {
        flex: 1 1 300px;
        min-height: 100%;
        z-index: 0;
    }
}

@media screen and (max-width: 799px) {
    .nlp-paned {
        background-color: var(--view);
    }
    .nlp-paned__left {
        position: fixed;
        transform: translateY(200%);

        transition: all 400ms cubic-bezier(0.8, 0, 0.2, 1);
        opacity: 0;

        z-index: $content-el;

        &--reparented {
            position: initial;
        }
        
        &--open {
            border-radius: 24px 24px 0px 0px;
            opacity: 1;
            transition: all 400ms cubic-bezier(0.8, 0, 0.2, 1);
            transform: none;
        }
    }
    .nlp-paned__right {
        flex: 0 1 100%;
        max-width: 100vw;
    }
}

.theme-logo {
    max-width: 100%;
}

.nlp-paned__left {
    p.caption {
        font-size: 120%;

        &:not(:first-of-type) {
            margin-top: 1rem;
        }
    }
    > a:first-child {
        margin-left: auto;
        margin-right: auto;

        font-size: 240%;
        font-weight: 700;
        text-align: center;
    }
    .theme-logo {
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: var(--on-chrome);
        padding: 6px;
        display: block;

        &.current {
            font-weight: bold;
        }
    }
    li {
        &.current {
            background-color: var(--listitem-active);
            
            ul {
                border-top: 1px solid var(--rim);
                background-color: var(--listitem-active);
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--rim);
        }
    }
    .toctree-l1 a {
        padding-left: 1rem;
    }
    .toctree-l2 a {
        padding-left: 2rem;
    }
    .toctree-l3 a {
        padding-left: 3rem;
    }
    .toctree-l4 a {
        padding-left: 4rem;
    }
    > ul {
        border: 1px solid var(--rim);
        margin: 8px -32px;
        padding: 0px 16px;
    }
}